*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --white: #ffffff;
    --mainBg: #7FFFD4;
    --grid-border: #000000;
}

/* REGOLE CSS ---------------------------------------- */
/*REGOLE GENERALI ------------------------------------ */
.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}


/* HEADER -------------------------------------------- */

header{
    height: 120px;
    background-color: var(--white);
    display: flex;
    padding: 0 1.5rem;
}

#logo{
    margin-right: 1.5rem;
}

#startGame{
    padding: 0.25rem 2.5rem;
}

/* MAIN ---------------------------------------------- */

main{
    min-height: calc(100vh - 200px);
    background-color: var(--mainBg);
    padding: 90px 0;
}

.container{
    width: 768px;
    margin: auto;
}

.box{
    width: calc(768px / 10);
    height: calc(768px / 10);
    border: 1px solid var(--grid-border);
}

/* FOOTER -------------------------------------------- */

footer{
    height: 80px;
    background-color: var(--white);
    padding: 0 1.5rem;
}